
/* colors: #F3F0ED #C35751 #9FBAA9 #343B3B #587164*/
* {
    font-family: 'Quicksand', sans-serif;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    background-color: #ffffff88;
    color:black;
    overflow-wrap: break-word;
}

#background{
    z-index: -1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    border: none;
    padding: 0;
    margin: 0;
}

.background-elem{
    border: none;
    z-index: -999;
    position: absolute;
    height: 100%;
    top: 0;
    width: 25vw;
    padding: 0;
    margin: 0;
}

#b1{
    position: absolute;
    background-color: #e1a9fb;
    left: 0;
}
#b2{
    background-color: #53a093;
    left: 25vw;
}
#b3{
    background-color: #f3ddae;
    left: 50vw;
}
#b4{
    background-color: #f8f9fb;
    left: 75vw;

}

#navigating{
    max-width: 50vw;;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0;
}

.nav{
    margin: 0;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flexbox;
}

a {
    width: 100%;
    height: 100%;
    font-style: normal;
    text-decoration: none;
    padding: 10px;
    border: none;
    transition: all .1s ease-out;
}

a:hover{
    background-color: black;
    color: white;
}

p {
    border: none;
}


#heading{
    max-width: 50vw;
    margin: auto;
    min-height: 6rem;
    margin-bottom: 40px;
}
#main{
    max-width: 50vw;
    margin: auto;
    margin-left: 35vw;
}
footer{
    max-width: 50vw;
    margin: auto;
}
h1{
    font-weight: 100;
    font-size: 5rem;
}

#container{
    background-color: transparent;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
}


@media (max-width: 800px) {
 h1{
    font-size: 3rem;
 }
 #navigating{
    flex-direction: column;
 }
 #heading{
    max-width: 90vw;
    margin: auto;
    min-height: 6rem;
}
#main{
    max-width: 90vw;
    margin: auto;

    margin-left: auto !important;
}
footer{
    max-width: 90vw;
    margin: auto;
}
#navigating{
    max-width: 90vw;
}
}