
#heading{
    position: sticky;
    top:0;
    width:100vw;
    height: 10vh;
    background-color: cornsilk;
}

h1{
    font-family: sans-serif;
    font-size: 5rem;
    color:brown;
    box-shadow: 2px 2px 2px 2px wheat;
    margin-left: 10vw;
    margin-top: 4vh;
    margin-bottom: 1vh;
}
#container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
}
