---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Vita">
		  <div id="main" role="main">
            <div class="block-container">
                <div class="block table">
                    <h3>Vita</h3>
                    <table>
                        <tr>
                            <td>
                                2015 - 16
                            </td>
                            <td>
                                Regieassistenz Theater Aachen
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2017 - ⟳
                            </td>
                            <td>
                                Bildende Kunst und Philosophie, Universität Greifswald
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2019 - 23
                            </td>
                            <td>
                                Grundlagenbildung Theaterpädagogik BuT
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2023 - ⟳
                            </td>
                            <td>
                                Master Bildende Kunst, Universität Greifswald
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="block table">
                    <h3>Arbeiten</h3>
                    <table>
                        <tr>
                            <td>
                                2022
                            </td>
                            <td>
                                <a href="https://photos.app.goo.gl/CHAU5t6dGLgoWsgV8">Hotline - Installation im Rechenzentrum der Universität Greifswald ⮵</a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                2021
                            </td>
                            <td>
                                <a href="https://photos.app.goo.gl/uEHEZ5XyhKfTXDBXA">Eis, Glotze, Glotze II - 3 Kurzfilme ⮵</a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                2021
                            </td>
                            <td>
                                <a href="https://photos.app.goo.gl/cBjwX4QvFpRkp4JU7">Heu - Kurzfilm ⮵</a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                2021
                            </td>
                            <td>
                                GK1 - Performance ohne Zuschauer: ich dusche in 3500g "Heinrich Lüders Grünkohl stramme Packung" - Filmschnitt folgt. 
                            </td>
                        </tr>





                    </table>
                </div>

            </div>
          </div>
</Layout>

<style>
    a{
        color: black;
    }

    a:visited {
        color: black;
    }
</style>