---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Vita">
		  <div id="main" role="main">
            <div class="block-container">
                <div class="block table">
                    <h3>Vita</h3>
                    <table>
                        <tr>
                            <td>
                                2015 - 16
                            </td>
                            <td>
                                Regieassistenz Theater Aachen
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2017 - ⟳
                            </td>
                            <td>
                                Bildende Kunst und Philosophie, Universität Greifswald
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2019 - 23
                            </td>
                            <td>
                                Grundlagenbildung Theaterpädagogik BuT
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2023 - ⟳
                            </td>
                            <td>
                                Master Bildende Kunst, Universität Greifswald
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
          </div>
</Layout>

<style>
    .block-container{
        display: flex;
        gap: 40px;
    }
    .table{
        text-align: left !important;
    }
    tr,td{
        padding-bottom: 10px;
        padding-right: 20px;
        margin-right: 10px;
    }

</style>