---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
		  <div id="main" role="main">
            <div class="block-container">
                <a href="https://www.instagram.com/eliaspaulpeschke/" class="block small">
                    <h3>Instagram</h3>
                    <p>
                       @eliaspaulpeschke - Drop me a message!
                    </p>
                </a>
                <a href="https://github.com/eliaspaulpeschke" class="block small">
                    <h3>Github</h3>
                    <p>
                       @eliaspaulpeschke
                    </p>
                </a>
                <a href="mailto:hello@eliaspeschke.xyz" class="block small">
                    <h3>Email</h3>
                    <p>
                        hello@eliaspeschke.xyz
                    </p>
                </a>
            </div>
          </div>
</Layout>

<style>
    a{
        color: black;
        text-decoration: none;
    }
    a>p{
        text-decoration: underline;
    }
    a:visited > * {
        color:black;
    }
</style>