---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
		  <div id="main" role="main">
			<div id="youtube-container">
			<div id="youtube" class="video"><h3>PERFORMANCE LIVESTREAM</h3>	
				<p>16.03.2023, 10:00 - 26.03.2023, 10:00 </p><br/>
				<img id="play" src="play_arrow.svg"/>
			<p>
			Clicken Sie hier, um den Youtube-Livestream der Performance zu öffnen. <br/>
			Damit erlauben Sie Youtube (gehörig zu Google Inc.), Cookies auf Ihrem Rechner zu speichern. <br/>
		    </p>
			<a class="underline" href="/datenschutz"> &nabla; Datenschutz</a>
			</div>
		   </div>
	  
		  </div>

</Layout>
<script>
	let youtube = document.getElementById("youtube");
	if(youtube){
	  youtube.onclick = () => {let you = document.getElementById("youtube-container"); if(you){
		you.innerHTML = '<iframe class="video" src="https://www.youtube.com/embed/Y1KDQXdlHZA" title="Electronic Pet - Performance (Elias Peschke)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>';
	  }};
	}
</script>
<style>
	#youtube-container{
		padding:0;
		margin:0;
	}
	#play{
		display: block; 
		margin: auto; 
		width: 64x; 
		height: 64px; 
		padding: 0;
		transition: ease-in-out;
	}
	#play:hover{
		transform: scale(1.1);
	}
	#youtube{
		background-color: black;
		color: white;
		cursor: pointer;
	}

	.underline{
		color: white !important;
		text-decoration: underline;
	}

</style>
