---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
		  <div id="main" role="main">
			<div class="block-container">
			    <div id="youtube-container" class="block">
			        <div id="youtube" class="placeholder">
						<h3>
							Dyade - PERFORMANCE LIVESTREAM
						</h3>	
			        	<p>
							16.03.2023, 10:00 - 26.03.2023, 10:00 
						</p>
						<br/><br/>
			        	<img id="play" src="play_arrow.svg"/>
			        	<br/>
			            <p class="bottom">
			                Clicken Sie hier, um den Youtube-Livestream der Performance zu öffnen. <br/>
			                Damit erlauben Sie Youtube (gehörig zu Google Inc.), Cookies auf Ihrem Rechner zu speichern. <br/>
			                <a class="datenschutz" href="/datenschutz"> &nabla; Datenschutz</a>
		                </p>
			        </div>
		        </div>
				<div class="textbox block small">
                    <h3>Dyade</h3>
                    <p>
                        ist eine Performance, in der ich 10 Tage lang ein Tamagotchi (Gen 1, 1997) mit Strom aus meiner Körperwärme betreiben werde. <br/>
                        Die Performance kann vom 16.03.2023 bis zum 26.03.2023 in der Bahnhofstraße 50 (17489 Greifswald), im großen Saal des Medienzentrums besichtigt werden.<br/>
                    </p>
                </div>

                <div class="textbox block small">
                    <h3>Dyad</h3>
                    <p>
                        is a performance where I will power a Gen 1 Tamagotchi from 1997 only with my body's warmth for 10 days. <br/>
                        You can view it from 03/16/2023 to 03/26/2023 every day in Bahnhofstraße 50 (17489 Greifswald), in the CDFI Media Centre.<br/>
                    </p>
                </div>

				<div class="block table">
                    <h3>Öffnungsszeiten</h3>
                    <table>
                        <tr>
                            <td>
                                Mo - Do
                            </td>
							<td>
                                9:00 - 16:30 
                            </td>
						</tr>
						<tr>
                            <td>
                                Fr
                            </td>
							<td>
                                10:30 - 16:30 
                            </td>
						</tr>
						<tr>
                            <td>
                                Sa & So
                            </td>
							<td>
                                13:00 - 19:00 
                            </td>
						</tr>
						<tr>
							<td>
                                So 26.03
                            </td>
							<td>
                                13:00 - 19:00, Ab 18:00 Performance-Ende & ein Glas Sekt
                            </td>
						</tr>
					</table>
				</div>

		    </div>
		  </div>

</Layout>
<script>
	let youtube = document.getElementById("youtube");
	if(youtube){
	  youtube.onclick = () => {let you = document.getElementById("youtube-container"); if(you){
		you.innerHTML = '<iframe class="video" src="https://www.youtube-nocookie.com/embed/Y1KDQXdlHZA" title="Electronic Pet - Performance (Elias Peschke)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>';
	  }};
	}
</script>
<style>
	#youtube-container{
		padding:0;
		margin:0;
	}

	#play{
		position: absolute;
		top: calc(50% - 32px);
		left: calc(50% - 32px);
		display: block; 
		width: 64x; 
		height: 64px; 
		padding: 0;
		transition: ease-in-out;
	}
	#play:hover{
		transform: scale(1.1);
	}
	#youtube{
		padding: 20px;
		position: relative;
		background-color: black;
		background-image: url("/VideoThumb.jpg");
		background-size: cover;
		background-repeat: none;
		background-position: center;
		color: white;
		cursor: pointer;
		margin:0;
	}

	.datenschutz{
		color: white !important;
		text-decoration: underline;
		padding: 0;
		margin: 0;
	}
	
	.bottom{
		position:absolute;
		bottom:15px;
	}
	@media (max-width: 900px) {
		#youtube > * {
			margin: 5px;
		}

		#play{
			position: relative !important;
			left: calc(50% - 32px);
			top: -2%;
		}
		.bottom{
			position: unset !important;
		}
	}


</style>
