---
import Layout from '../layouts/Layout.astro';
import Block from '../components/Block.astro';
import BlockContainer from '../components/BlockContainer.astro';
import TableRow from '../components/TableRow.astro';

const vita = [
["2015 - 16", "Regieassistenz Theater Aachen"],
["2017 - ⟳","Bildende Kunst und Philosophie, Universität Greifswald"],
["2019 - 23","Grundlagenbildung Theaterpädagogik BuT"],
["2023 - ⟳","Master Bildende Kunst, Universität Greifswald"],
["2023","INSOMNALE-Preisträger"],
["2024","Künstlerhaus Lukas Ahrenshoop"],
].reverse();


const arbeiten = [
["2021",'GK1 - Performance ohne Zuschauer: ich dusche in 3500g "Heinrich Lüders Grünkohl stramme Packung" - Filmschnitt folgt.'],
["2021",'<a href="https://photos.app.goo.gl/cBjwX4QvFpRkp4JU7">Heu - Kurzfilm ⮵</a>'],
["2021",'<a href="https://photos.app.goo.gl/uEHEZ5XyhKfTXDBXA">Eis, Glotze, Glotze II - 3 Kurzfilme ⮵</a>'],
["2022",'<a href="https://photos.app.goo.gl/CHAU5t6dGLgoWsgV8">Hotline - Installation im Rechenzentrum der Universität Greifswald ⮵</a>'],
["2023","DYADE - Performance: 10 Tage ein Tamagotchi nur mit der eigenen Körperwärme betreiben"],
["2024","iiiiiiiiii - Installation: Reaktive Schilfhalme"],
["2024",'<a href="http://neues-kunsthaus-ahrenshoop.de/ausstellungen/junge-kunst-aus-nordeuropa-2024">Junge Kunst aus Nordeuropa - Gruppenausstellung im Neuen Kunsthaus Ahrenshoop ⮵</a>']
].reverse();
---

<Layout title="Vita">
	<div id="main" role="main">
		<BlockContainer>
			<Block title='Arbeiten / Ausstellungen'>
				<table>
					{arbeiten.map((arbeit) => (
					<TableRow cols={arbeit}>
					</TableRow>
					))
					}
				</table>
			</Block>
			<Block title='Vita'>
				<table>
					{vita.map((entry) => (
					<TableRow cols={entry}>
					</TableRow>
					))
					}
				</table>
			</Block>
		</BlockContainer>
          </div>
</Layout>

