
<div id="b1" class="background-elem"></div>
<div id="b2" class="background-elem"></div>
<div id="b3" class="background-elem"></div>
<div id="b4" class="background-elem"></div>


<script>
    function changeSize(){
            let stdstyle = "width: 25vw; transform: rotate(10deg);";
            if(window.matchMedia("(max-width: 900px)").matches){
                stdstyle ="width: 35vw; transform: rotate(10deg);";
            }
            document.getElementById("b1")?.setAttribute("style", "left: -10vw; background-color: #eee;" + stdstyle);
            document.getElementById("b2")?.setAttribute("style", "left: 20vw; background-color: #dcdcdc;"+ stdstyle);
            document.getElementById("b3")?.setAttribute("style", "left: 50vw; background-color: #d9d9d9;"+ stdstyle);
            document.getElementById("b4")?.setAttribute("style", "left: 80vw; background-color: #d6d6d6;"+ stdstyle);
    }
        window.onload = changeSize;
        window.onresize = changeSize;
</script>

<style >
.background-elem{
    display: block;
    border: none;
    z-index: -999;
    position: fixed;
    height: 150%;
    top: -25%;
    width: 0;
    padding: 0;
    margin: 0;
    transition: all 2s ease-in-out;
    
}

#b1{
    background-color: #eee;/*#e1a9fb;*/
    left: 0vw;
}
#b2{
    background-color: #dcdcdc;/*#53a093;*/
    left: 30vw;
}
#b3{
    background-color: #d9d9d9;/*#f3ddae;*/
    left: 60vw;
}
#b4{
    background-color: #d6d6d6;/*#f8f9fb;*/
    left: 90vw;
}
</style>