<div id="impress-me">
        <a class="impr-link" style="width: 100%; display: block; margin: 0;" href="/datenschutz.html"> (c) Elias Peschke 2023  - Impressum / Datenschutz </a>
</div>



<style>
#impress-me{
	background-color: #fff;
	border: 1px solid black;
    max-width: 50vw;;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0;
	color:black;
}

.impr-link{
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    font-style: normal;
    text-decoration: none;
    border: none;
    transition: all .1s ease-out;
	color: black;
}

.impr-link:hover{
    background-color: black;
    color: white;
}
</style>