---

---

<div class="nav-container">
	<a class="nav" href="https://eliaspeschke.xyz"> Elias Paul Peschke </a>
	<a class="nav" href="/about"> About / Vita </a>
	<a class="nav" href="/contact"> Contact </a>
</div>
